<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body class="h-100">
{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

<section id="main">
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
</section>
<!-- /#main -->
{% block footer %}
    {{ include('partial/footer.html.twig') }}
{% endblock %}
</body>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/1e23b181cb.js"></script>
    <script>
        var contentHeight = $(window).height();
        var footerHeight = $('#footer').height();
        var footerTop = $('#footer').position().top + footerHeight;
        if (footerTop < contentHeight) {
            $('#footer').css('margin-top', 10 + (contentHeight - footerTop) + 'px');
        }
    </script>
{% endblock %}
</html>
