<footer id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="p-5 text-light text-center small">
                    Copyright 2020. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /#footer -->
