<header id="header" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('address_book') }}">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('address_book_create') }}">Add</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /#header -->
