{% extends 'base.html.twig' %}

{% block title %}Hello AddressBookController!{% endblock %}

{% block body %}
    <div class="col-8 mx-auto py-5">
        <h3>Create new contact</h3>
        {% form_theme addressBookForm 'bootstrap_4_layout.html.twig' %}
        {{ form_start(addressBookForm,{ attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(addressBookForm) }}
        {% if  addressBookForm.vars.value.picture|length %}
            <div class="w-25 mb-3">
                <img class="img-fluid rounded border border-dark p-1"
                     src="{{ asset(addressBookForm.vars.value.picturePath) }}"
                     alt="">
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(addressBookForm) }}
    </div>
{% endblock %}
