{% extends 'base.html.twig' %}

{% block title %}Hello AddressBookController!{% endblock %}

{% block body %}
    <div class="col-12 mx-auto py-5">
        <h3>Contacts list</h3>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th class="th-sm">First name</th>
                <th class="th-sm">Last name</th>
                <th class="th-sm">Email</th>
                <th class="th-sm">Number</th>
                <th class="th-sm">Zip code</th>
                <th class="th-sm">Phone</th>
                <th class="th-sm">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for addressBook in addressBooks %}
                <tr>
                    <td>{{ addressBook.firstName }}</td>
                    <td>{{ addressBook.lastName }}</td>
                    <td>{{ addressBook.email }}</td>
                    <td>{{ addressBook.number }}</td>
                    <td>{{ addressBook.zip }}</td>
                    <td>{{ addressBook.phone }}</td>
                    <td class="text-center">
                        <a class="btn btn-info px-2 py-0"
                           href="{{ path('address_book_edit',{addressBook:addressBook.id}) }}"><i
                                    class="fa fa-edit text-light"></i></a>
                        <a class="btn btn-success px-2 py-0"
                           href="{{ path('address_book_show',{addressBook:addressBook.id}) }}"
                        ><i class="fa fa-eye text-light"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(addressBooks) }}
        </div>
    </div>
{% endblock %}
