{% extends 'base.html.twig' %}

{% block title %}Hello AddressBookController!{% endblock %}

{% block body %}
    <div class="col-12 mx-auto py-5">
        <div class="card">
            <div class="card-header">
                Contact information
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ addressBook.firstName }}</li>
                    <li class="list-group-item">{{ addressBook.lastName }}</li>
                    <li class="list-group-item">{{ addressBook.email }}</li>
                    <li class="list-group-item">{{ addressBook.street }}</li>
                    <li class="list-group-item">{{ addressBook.number }}</li>
                    <li class="list-group-item">{{ addressBook.zip }}</li>
                    <li class="list-group-item">{{ addressBook.city }}</li>
                    <li class="list-group-item">{{ addressBook.country }}</li>
                    <li class="list-group-item">{{ addressBook.formattedBirthDay }}</li>
                    <li class="list-group-item">{{ addressBook.email }}</li>
                    <li class="list-group-item">{{ addressBook.phone }}</li>
                    {% if(addressBook.picture) %}
                        <li class="list-group-item">
                            <div class="w-25 mb-3">
                                <img class="img-fluid rounded border border-dark p-1"
                                     src="{{ asset(addressBook.picturePath) }}"
                                     alt="">
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="card-footer bg-transparent border-success">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <a class="btn btn-info" href="{{ path('address_book_edit',{addressBook:addressBook.id}) }}">
                    Edit Contact
                </a>
                <button type="submit" class="btn btn-danger">Delete Record</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
